[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleak = "*"
websockets = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"
pytest-asyncio = "*"

[requires]
python_version = "3"

[scripts]
"server" = "python main_server.py"
"test" = "pytest"