[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
requests = "*"
pinecil = "*"
typing_extensions = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-watch = "*"
pytest-asyncio = "*"
pyinstaller = "*"

[requires]
python_version = "3"

[scripts]
"server" = "python main.py"
"test" = "pytest"
