@keyframes spinner{
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  position:fixed;
  top:10;
  left:calc(50% - 10px);
  z-index:2;
}
.spinner div:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}
.refresh-button {
  font-size:1.2rem; 
  margin:0 0 0 0.5rem;
}
.settings-header {
  background: #eef5ff;
}
.no-shadow {
  box-shadow: none;
}
.label{
  font-weight: 500;
  display: inline-flex!important;
  align-items: center;
}
.mfield {
  display: flex;
  flex-wrap: wrap;
  margin: 2px 0;
  padding: 0.5rem;
  border-bottom: 1px solid #eaeaea;
}

.label {
  display:inline-block;
}

.mfield .label {
  flex-grow: 1;
  margin-right: 0.5rem;
  display: block;
}

.mfield .input {
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
}

.mfield .help {
  flex-basis: 100%;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
.tag {
  width:40px;
}
.card-content {
  padding: 0;
}
.pointer {
  cursor:pointer
}
.navbar-link {
  align-items: center;
  display: flex;
}

.checkbox input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkbox label {
  --size: 3rem;
  cursor: pointer;
  width: calc(var(--size) - 10px);
  height: calc(var(--size) / 2);
  background: grey;
  display: block;
  border-radius: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.checkbox label:after {
  content: '';
  position: absolute;
  top: 6%;
  left: 2.5%;
  width: 55%;
  height: calc(100% - 11%);
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.checkbox input {
  display: none;
}

.checkbox input:checked+label {
  background: #55da8c;
}

.checkbox input:checked+label:after {
  left: calc(100% - 2.5%);
  transform: translateX(-100%);
}

.checkbox label:active:after {
  width: 55%;
}

.notification {
    opacity: 1;
    animation: fade 0.5s ease-in-out;
    position: fixed;
    min-width: 15rem;
    left: 2rem;
    top: 1rem;
    z-index:5;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.temp-holder {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 450px;
}
.live-temp {
  border: 1px solid #c0cbcd;
  font-size: 5em;
  width: 320px;
  height:230px;
  position: relative;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
}
.live-temp button.change {
  position:absolute;
  top:0;
  margin:-1px;
}
.live-temp .minus {
  left:0;
}
.live-temp .plus {
  right:0;
}
.live-power {
  width: 160px;
  height:100px;
  font-size: 2.5em;
  border: 1px solid #c0cbcd;
  padding-top:0.45em;
  text-align:center;
}