<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Settings Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="main.css">
  <style>
    .hide-until-load {
      visibility:hidden;
    }
  </style>
</head>

<body>
  <div id="app" class="container">
    <div
      class="notification is-danger hide-until-load"
      :style="{'visibility':'visible'}"
      v-show="error"
    >
      <button class="delete" @click="error=''"></button>
      {{error}}
    </div>
    <div class="columns">
      <div class="column is-half is-full-mobile">
        <h1 class="title">
          PineSAM - Pinecil V2 Settings and Menus
          <a class="icon refresh-button" @click="fetchSettings">
            <i class="fas fa-sync-alt"></i>
          </a>
          <div v-show="isBusy" class="spinner"><div></div></div>
        </h1>
      </div>
      <div class="column is-half is-full-mobile has-text-right">
        <h4 
          v-if="info.id"
          class="subtitle is-4 hide-until-load"
          :style="{'visibility':'visible'}"
        >{{info.name}}</h4>
      </div>
    </div>
    <div class="mfield">
      <label class="label has-text-left" style="flex-grow:0">Save changes to flash</label>
      <div class="checkbox" style="flex-grow:0">
        <input v-model="saveToFlash" type="checkbox" id="sw-save-toflash" />
        <label for="sw-save-toflash"></label>
      </div>
      <p class="help">If this is not checked, the settings will be reset to their previous values when you turn off the soldering iron. <strong>Note that flash has limited write cycles, saving changes frequently will reduce the life of your device.</strong></p>
    </div>
    <div
      v-if="Object.keys(settings).length > 0"
      class="columns is-multiline hide-until-load"
      :style="{'visibility':'visible'}"
    >
      <div
        v-for="group in groups"
        :key="group.name"
        class="column is-4-widescreen is-6-tablet is-12-mobile"
      >
        <div class="card">
          <header
            class="card-header navbar-link is-arrowless"
            @click="toggleGroup(group)"
          >
            <p class="card-header-title">
              {{group.name}}
            </p>
            <span class="icon">
              <i class="fa" :class="group.isVisible ? 'fa-angle-down' : 'fa-angle-right'" aria-hidden="true"></i>
            </span>
          </header>
          <div v-show="group.isVisible" class="card-content">
            <div
              v-for="name in group.items"
              :key="name"
              class="mfield"
              :class="settings[name]?.component?.class"
            >
              <label class="label" @click="settings[name].showText=!settings[name].showText">{{settings[name].display}}</label>
              <!-- dropdown value selection -->
              <select v-if="settings[name].component?.name=='select'" v-model="settings[name].value" class="input">
                <option v-for="option in settings[name].component.options" :value="option.value">{{option.text}}</option>
              </select>
              <!-- checkbox -->
              <div v-else-if="settings[name].component?.name=='checkbox'" class="checkbox">
                <input v-model="settings[name].value" type="checkbox" :id="`sw-${group.name}-${name}`" />
                <label :for="`sw-${group.name}-${name}`"></label>
              </div>
              <!-- range slider -->
              <div v-else-if="settings[name].component?.name=='range'">
                <input
                  type="range"
                  :min="settings[name].component.min"
                  :max="settings[name].component.max"
                  :step="settings[name].component.step"
                  v-model="settings[name].value"
                  @mouseup="updateSetting(name, settings[name].value)"
                  @touchend="updateSetting(name, settings[name].value)"
                  @blur="updateSetting(name, settings[name].value)"
                >
                <div
                  v-if="settings[name].showRawValue"
                  class="field tag px-0 m-0"
                >
                  <input
                    class="input px-1 mx-0 is-info py-0"
                    type="text"
                    style="height:2em;"
                    maxlength="3"
                    v-model="settings[name].value"
                    @keydown.esc="settings[name].showRawValue=false"
                    @keydown.enter="settings[name].showRawValue=false"
                    @blur="updateSetting(name, settings[name].value)"
                    :ref="name"
                  >
                </div>
                <div v-else class="tag is-info" @click="settings[name].showRawValue=true">
                  {{settings[name].component.display && settings[name].component.display(settings[name].value) || settings[name].value}}
                </div>
              </div>
              <div v-else-if="settings[name].component?.name=='confirm'">
                <button class="button is-danger" @click.prevent="confirm(name)">
                  {{settings[name].component?.display}}
                </button>
              </div>
              <!-- regular text input -->
              <input v-else v-model="settings[name].value" class="input" type="text" disabled>
              <p class="help">{{settings[name].hint}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js';
    import app from './app.js';
    createApp(app).mount('#app');
  </script>
</body>

</html>